*
{

    font-family: arial
}
a
{
    text-decoration: none !important
}
.nav-phim a, .nav-nhac a
{
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    color:black;
    position: relative;
    
}
.nav-nhac, .nav-phim
{
    padding: 0 !important;
}
.nav-phim>.sub-menu, .nav-nhac>.sub-menu
{
    position: absolute;
}
.nav-phim>.sub-menu ul, .nav-nhac>.sub-menu ul
{
    list-style: none;
    padding:0
}
.nav-phim>.sub-menu ul li a:hover, .nav-nhac>.sub-menu ul li a:hover
{
    color:#7aaf16
}
.nav-phim>.sub-menu ul li a,.nav-nhac>.sub-menu ul li a
{
    margin-left: 10px !important;
    color: #252525;
    font-size: 15px;
}
.sub-menu
{   top:36px;
    background-color: white;
    display: none;
}
.nav-phim>a:hover, .nav-nhac>a:hover
{
    color:#7aaf16
}
.nav-phim>a
{
    color:white;
    margin-left: -15px;

}
.nav-nhac:hover .sub-menu, .nav-phim:hover .sub-menu
{
    display:block;
    background-color:white;
    width: 170px;
    padding:0 15px
}
.nav-nhac>a
{
    color:#7aaf16;
}

.nav-nhac, .nav-nhac:hover .nav-nhac>a
{   
    color:#7aaf16;
    border-bottom: 2px solid #7aaf16;
}
.search input
{
  
    width: 100%;
    padding:.3rem 0;
    border:none;
    padding-left:20px;
    background-color: silver;
    opacity: 0.5;
    outline: none;
    border-radius: 6px;
}
.search>input::placeholder
{
    text-align: center;
    color:white;
    font-size: 16px;
    font-style: italic;  
}
.slide
{   z-index: 0;
    padding:0 !important;   
    position: relative;
    left:0;
    padding:0;
}
.header
{
    padding: 17px 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) ;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.search
{
    display: flex;
}
.search .button-search
{
   
    margin-left: -6px;
    background-color: silver;
    opacity: .5;
    border-radius: 6px;
    padding: 6px 21px;
}
.search .button-search i
{
    color: white;
}
.login a, .login a:hover
{
    color: white;
}

.login
{
    text-align: center;
    margin-top:4px
}
.title
{
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 35px;
    text-align: center;
    color:#383636
   
}
.line
{
    display: block;
    width: 67px;
    height: 1px;
    background-color: #7ab014;
    margin: 5px auto 40px ;
}   
.item img
{
    width: 100%;
    transform: scale(1);
    transition: .5s linear;
}
.item
{
    text-align: center;
    overflow: hidden;
}
.item a h3
{
    font-size: 15px;
    font-weight: bold;
    color:rgb(39, 37, 37);
    margin-top: 8px;

}
.item  p
{
    font-weight: normal;
    font-size: 15px;
    color: #9e9e9e;
}
.item:hover a>img
{
    transform: scale(1.1);
    transition: .5s linear;
}
.img
{
    width: 100%;
    overflow: hidden;
}
.mg-top-bot{margin: 10px 0;}
.edm
{   
    padding: 20px;
    background-color: black;
}
